body {
  background-color: #13293d;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

#app {
  display: flex;
  justify-content: center;
}

.main {
  min-width: 75vw;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.game-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.player-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.card {
  background-color: white;
  width: 35px;
  display: flex;
  height: 20px;
  align-items: center;
  justify-content: space-evenly;
  border: black 1px solid;
  border-radius: 2px;
}

.turn {
  background-color: blanchedalmond;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin: 1.5px;
  width: 100px;
  height: 50px;
  border-radius: 5px;
}
.turn-war {
  background-color: red;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin: 1.5px;
  width: 100px;
  height: 50px;
  border-radius: 5px;
}

img {
  /* max-width: 15px; */
  max-height: 15px;
}

p {
  font-size: 14px;
  margin: 0;
}

h1 {
  color: white;
}
h2 {
  color: white;
}

h3 {
  color: #e8f1f2;
}
h4 {
  margin: 2px;
  color: white;
  /* background-color: #e8f1f2; */
}

.score-container {
  padding: 2px;
  display: flex;
  width: 70vw;
  justify-content: space-evenly;
  background-color: #4da1a9;
}

.score {
  margin: 2px;
}

button {
  margin-top: 15px;
  width: 150px;
  height: 35px;
  font-size: 14px;
  font-weight: bold;
}
